<div class="CharacterPage">
    <div class="CharacterPage-Main">
        <div class="CharacterPage-Overview">
            <%- include('partials/imageArea', {
                collectionId: character.collection_id,
                entryId: character.id,
                entryType: 'character',
                imagePath: character.image_path
            }) %>
            <div class="CharacterPage-Info">
                <div class="CharacterPage-Title">
                    <%- include('partials/titleArea', {
                    collectionId: character.collection_id,
                    entryId: character.id,
                    entryType: 'character',
                    entryName: character.name
                    }) %>
                    <h3>Stat Block: <%= "TODO" %></h3>
                </div>
                <div class="CharacterPage-Description">
                    <%- include('partials/noteArea', {
                        sectionTitle: 'Physical Description', 
                        id: 'description', 
                        value: character.description,
                        collectionId: character.collection_id,
                        entryId: character.id,
                        entryType: 'character'
                    }) %>
                    <%- include('partials/noteArea', {
                        sectionTitle: 'Behavior', 
                        id: 'behavior', 
                        value: character.behavior,
                        collectionId: character.collection_id,
                        entryId: character.id,
                        entryType: 'character'
                    }) %>
                </div>
            </div>
        </div>
        <div class="CharacterPage-History">
            <%- include('partials/noteArea', {
                sectionTitle: 'Backstory', 
                id: 'backstory', 
                value: character.backstory,
                collectionId: character.collection_id,
                entryId: character.id,
                entryType: 'character'
            }) %>
            <%- include('partials/noteArea', {
                sectionTitle: 'Notes', 
                id: 'notes', 
                value: character.notes,
                collectionId: character.collection_id,
                entryId: character.id,
                entryType: 'character'
            }) %>
        </div>
    </div>

    <div class="EntryPage-Sidebar">
        <div class="EntryPage-Sidebar-Head">
            <div class="EntryPage-Sidebar-Title">Affiliations</div>
            <button class="ControlButton" title="Back to World" onclick="location.href='/collection/<%= character.collection_id %>'">Back to World</button>
        </div>
        <div class="EntryPage-Associations">
            
            <%- include('partials/associations', {
                id: 'charAssocs', 
                assocTitle: 'Characters',
                collectionId: character.collection_id,
                entryId: character.id,
                entryType: 'character',
                assocType: 'character',
                areaList: relationships.characters
            }) %>
            <%- /*
            include('partials/associations', {
                id: 'locAssocs',
                assocTitle: 'Locations',
                collectionId: character.collection_id,
                entryId: character.id,
                entryType: 'character',
                assocType: 'location',
                areaList: relationships.locations
            }) 
            */ %>
            <textarea id="locations" name="locations" placeholder="Links to Locations" style="flex: 1;"></textarea>
            <textarea id="lore" name="lore" placeholder="Links to Lore" style="flex: 1;"></textarea>
        </div>
        <div class="EntryPage-Manage">
            <button class="ControlButton disabled" disabled title="Not Implemented">Planeshift</button>
            <button class="ControlButton" type="button" onclick="deleteEntry('<%= character.collection_id %>','<%= character.id %>', '<%= character.name %>', 'character')">Delete</button>
            <button class="ControlButton disabled" disabled title="Not Implemented">Export</button>
        </div>
    </div>
</div>