<div class="CharacterPage">
    <div class="CharacterPage-Main">
        <div class="CharacterPage-Overview">
            <%- include('partials/imageArea', {
                collectionId: entry.collection_id,
                entryId: entry.id,
                entryType: 'character',
                imagePath: entry.image_path
            }) %>
            <div class="CharacterPage-Info">
                <div class="CharacterPage-Title">
                    <%- include('partials/titleArea', {
                    collectionId: entry.collection_id,
                    entryId: entry.id,
                    entryType: 'character',
                    entryName: entry.name
                    }) %>
                    <h3 class="hidden">Stat Block: <%= "TODO" %></h3>
                </div>
                <div class="CharacterPage-Description">
                    <%- include('partials/noteArea', {
                        sectionTitle: 'Physical Description', 
                        id: 'description', 
                        value: entry.description,
                        collectionId: entry.collection_id,
                        entryId: entry.id,
                        entryType: 'character'
                    }) %>
                    <%- include('partials/noteArea', {
                        sectionTitle: 'Behavior', 
                        id: 'behavior', 
                        value: entry.behavior,
                        collectionId: entry.collection_id,
                        entryId: entry.id,
                        entryType: 'character'
                    }) %>
                </div>
            </div>
        </div>
        <div class="CharacterPage-History">
            <%- include('partials/noteArea', {
                sectionTitle: 'Backstory', 
                id: 'backstory', 
                value: entry.backstory,
                collectionId: entry.collection_id,
                entryId: entry.id,
                entryType: 'character'
            }) %>
            <%- include('partials/noteArea', {
                sectionTitle: 'Notes', 
                id: 'notes', 
                value: entry.notes,
                collectionId: entry.collection_id,
                entryId: entry.id,
                entryType: 'character'
            }) %>
        </div>
    </div>

    <div class="EntryPage-Sidebar">
        <div class="EntryPage-Sidebar-Head">
            <div class="EntryPage-Sidebar-Title">Affiliations</div>
            <button class="ControlButton" title="Back to World" onclick="location.href='/collection/<%= entry.collection_id %>'">Back to World</button>
        </div>
        <div class="EntryPage-Associations">
            
            <%- include('partials/associations', {
                id: 'charAssocs', 
                assocTitle: 'Characters',
                collectionId: entry.collection_id,
                entryId: entry.id,
                entryName: entry.name,
                entryType: 'character',
                assocType: 'character',
                areaList: relationships.characters
            }) %>
            <%- include('partials/associations', {
                id: 'locAssocs',
                assocTitle: 'Locations',
                collectionId: entry.collection_id,
                entryId: entry.id,
                entryName: entry.name,
                entryType: 'character',
                assocType: 'location',
                areaList: relationships.locations
            }) %>
            <%- include('partials/associations', {
                id: 'orgAssocs',
                assocTitle: 'Organizations',
                collectionId: entry.collection_id,
                entryId: entry.id,
                entryName: entry.name,
                entryType: 'character',
                assocType: 'organization',
                areaList: relationships.organizations
            }) %>
            <%- include('partials/associations', {
                id: 'loreAssocs',
                assocTitle: 'Lore',
                collectionId: entry.collection_id,
                entryId: entry.id,
                entryName: entry.name,
                entryType: 'character',
                assocType: 'lore',
                areaList: relationships.lores
            }) %>
        </div>
        <div class="EntryPage-Manage">
            <button class="ControlButton disabled" disabled title="Not Implemented">Planeshift</button>
            <button class="ControlButton" type="button" onclick="deleteEntry('<%= entry.collection_id %>','<%= entry.id %>', '<%= entry.name %>', 'character')">Delete</button>
            <button class="ControlButton disabled" disabled title="Not Implemented">Export</button>
        </div>
    </div>
</div>