<div class="SplashPage">
    <h1>Add <%= assocType %> relationship for <%= entryName %></h1>
    <% if (locals.error) { %>
        <p class="ErrorMessage"><%= error %></p>
    <% } %>
    <form action="/addAssociation" method="POST">
        <input type="hidden" name="collectionId" value="<%= collectionId %>">
        <input type="hidden" name="entryId" value="<%= entryId %>">
        <input type="hidden" name="entryType" value="<%= entryType %>">
        <input type="hidden" name="assocType" value="<%= assocType %>">

        <!-- TODO: Add loop for multiple entries -->
        <select class="DropDown" id="assocId" name="assocId">
            <% list.forEach(item => { %>
                <% if (Number(item.id) !== Number(entryId) || entryType !== assocType) { %>
                    <option value="<%= item.id %>"><%= item.name %></option> 
                <% } %>
            <% }); %>
        </select>
        <% if (entryType === 'location' && assocType === 'location') { %>
            <!-- Location-location condition. Determine which element is the parent element? -->
        <% } else if (entryType === 'character' && assocType === 'character') { %>
            <!-- Character-character condition. Option for both. -->
            <div>
                <%= entryName %> is the 
                <input type="text" style="margin-left: 2px; margin-right: 2px;" name="E_is_to_A" placeholder="Relationship">
                of <span id="injectName1"></span>.
            </div>
            <div>
                <span id="injectName2"></span> is the 
                <input type="text" style="margin-left: 2px; margin-right: 2px;" name="A_is_to_E" placeholder="Relationship">
                of <%= entryName %>.
            </div>
        <% } else { %>
            <!-- All other cases have directionally agnostic relationships -->
            <input type="text" name="A_is_to_E" placeholder="Relationship">
        <% } %>
        <button class="MenuButton" type="submit">Add</button>
        <button class="MenuButton" type="submit" formaction="/<%= entryType %>/<%= collectionId %>/<%= entryId %>" formnovalidate>Back</button>
    </form>
</div>

<!-- Script to update the names for character-character relationships. Provides clarity for directional associations. -->
<script>
    const selection = document.getElementById('assocId');
    const name1 = document.getElementById('injectName1');
    const name2 = document.getElementById('injectName2');

    function updateName()
    {
        if(!selection || !name1 || !name2) {return;}

        name1.textContent = selection.options[selection.selectedIndex].text;
        name2.textContent = selection.options[selection.selectedIndex].text;
    }

    updateName();
    selection.addEventListener('change', updateName);
</script>