<div class="LocationPage">
    <div class="LocationPage-Main">
        <div class="LocationPage-Overview">
            <%- include('partials/titleArea', {
                collectionId: entry.collection_id,
                entryId: entry.id,
                entryType: 'location',
                entryName: entry.name
            }) %>
            <div class="LocationPage-Image">
                <%- include('partials/imageArea', {
                    collectionId: entry.collection_id,
                    entryId: entry.id,
                    entryType: 'location',
                    imagePath: entry.image_path
                }) %>
            </div>
            <%- include('partials/noteArea', {
                sectionTitle: 'Atmosphere', 
                id: 'atmosphere', 
                value: entry.atmosphere,
                collectionId: entry.collection_id,
                entryId: entry.id,
                entryType: 'location'
            }) %>
        </div>
        <div class="LocationPage-Info">                    
            <%- include('partials/noteArea', {
                sectionTitle: 'History', 
                id: 'history', 
                value: entry.history,
                collectionId: entry.collection_id,
                entryId: entry.id,
                entryType: 'location'
            }) %>
            <%- include('partials/noteArea', {
                sectionTitle: 'Notes', 
                id: 'notes', 
                value: entry.notes,
                collectionId: entry.collection_id,
                entryId: entry.id,
                entryType: 'location'
            }) %>
        </div>
    </div>

    <div class="EntryPage-Sidebar">
        <div class="EntryPage-Sidebar-Head">
            <div class="EntryPage-Sidebar-Title">Affiliations</div>
            <button class="ControlButton" title="Back to World" onclick="location.href='/collection/<%= entry.collection_id %>'">Back to World</button>
        </div>
        <div class="EntryPage-Associations">
            
            <%- include('partials/associations', {
                id: 'charAssocs', 
                assocTitle: 'Characters',
                collectionId: entry.collection_id,
                entryId: entry.id,
                entryName: entry.name,
                entryType: 'location',
                assocType: 'character',
                areaList: relationships.characters
            }) %>
            <%- include('partials/associations', {
                id: 'locAssocs',
                assocTitle: 'Locations',
                collectionId: entry.collection_id,
                entryId: entry.id,
                entryName: entry.name,
                entryType: 'location',
                assocType: 'location',
                areaList: relationships.locations
            }) %>
            <%- include('partials/associations', {
                id: 'orgAssocs',
                assocTitle: 'Organizations',
                collectionId: entry.collection_id,
                entryId: entry.id,
                entryName: entry.name,
                entryType: 'location',
                assocType: 'organization',
                areaList: relationships.organizations
            }) %>
            <%- include('partials/associations', {
                id: 'loreAssocs',
                assocTitle: 'Lore',
                collectionId: entry.collection_id,
                entryId: entry.id,
                entryName: entry.name,
                entryType: 'location',
                assocType: 'lore',
                areaList: relationships.lores
            }) %>
        </div>
        <div class="EntryPage-Manage">
            <button class="ControlButton disabled" disabled title="Not Implemented">Planeshift</button>
            <button class="ControlButton" type="button" onclick="deleteEntry('<%= entry.collection_id %>','<%= entry.id %>', '<%= entry.name %>', 'location')">Delete</button>
            <button class="ControlButton disabled" disabled title="Not Implemented">Export</button>
        </div>
    </div>
</div>