<div class="LorePage">
    <div class="LorePage-Main">
        <div class="LorePage-Title">
            <%- include('partials/titleArea', {
            collectionId: lore.collection_id,
            entryId: lore.id,
            entryType: 'lore',
            entryName: lore.name
            }) %>
        </div>
        <div class="LorePage-Info">
            <div class="LorePage-Overview">
                <%- include('partials/imageArea', {
                    collectionId: lore.collection_id,
                    entryId: lore.id,
                    entryType: 'lore',
                    imagePath: lore.image_path
                }) %>
                <%- include('partials/noteArea', {
                    sectionTitle: 'Summary', 
                    id: 'summary', 
                    value: lore.summary,
                    collectionId: lore.collection_id,
                    entryId: lore.id,
                    entryType: 'lore'
                }) %>
            </div>
            <div class="LorePage-Details">
                <%- include('partials/noteArea', {
                    sectionTitle: 'Details', 
                    id: 'details', 
                    value: lore.details,
                    collectionId: lore.collection_id,
                    entryId: lore.id,
                    entryType: 'lore'
                }) %>
            </div>
        </div>
    </div>

    <div class="EntryPage-Sidebar">
        <div class="EntryPage-Sidebar-Head">
            <div class="EntryPage-Sidebar-Title">Affiliations</div>
            <button class="ControlButton" title="Back to World" onclick="location.href='/collection/<%= character.collection_id %>'">Back to World</button>
        </div>
        <div class="EntryPage-Associations">
            <%- include('partials/associations', {
                id: 'charAssocs', 
                assocTitle: 'Characters',
                collectionId: lore.collection_id,
                entryId: lore.id,
                entryType: 'lore',
                assocType: 'character',
                areaList: relationships.characters
            }) %>
            <%- /*
            include('partials/associations', {
                id: 'locAssocs',
                assocTitle: 'Locations',
                collectionId: lore.collection_id,
                entryId: lore.id,
                entryType: 'lore',
                assocType: 'location',
                areaList: relationships.locations
            }) 
            */ %>
            <textarea id="locations" name="locations" placeholder="Links to Locations" style="flex: 1;"></textarea>
            <%- include('partials/associations', {
                id: 'loreAssocs', 
                assocTitle: 'Lore',
                collectionId: lore.collection_id,
                entryId: lore.id,
                entryType: 'lore',
                assocType: 'lore',
                areaList: relationships.lore
            }) %>
        </div>
        <div class="EntryPage-Manage">
            <button class="ControlButton disabled" disabled title="Not Implemented">Planeshift</button>
            <button class="ControlButton" type="button" onclick="deleteEntry('<%= lore.collection_id %>','<%= lore.id %>', '<%= lore.name %>', 'lore')">Delete</button>
            <button class="ControlButton disabled" disabled title="Not Implemented">Export</button>
        </div>
    </div>
</div>