<div class="WorldPage">
    <div class="WorldPage-Main">
        <div class="WorldPage-Title">
            <%- include('partials/titleArea', {
                collectionId: world.id,
                entryId: world.id,
                entryType: 'collection',
                entryName: world.name
            }) %>
        </div>
        <div class="WorldPage-Info">
            <div class="WorldPage-Description">
                <%- include('partials/imageArea', {
                    collectionId: world.id,
                    entryId: world.id,
                    entryType: 'collection',
                    imagePath: world.image_path
                }) %>
                <%- include('partials/noteArea', {
                    sectionTitle: 'Description', 
                    id: 'description', 
                    value: world.description,
                    collectionId: world.id,
                    entryId: world.id,
                    entryType: 'collection'
                }) %>
            </div>    
                <%- include('partials/noteArea', {
                    sectionTitle: 'Notes', 
                    id: 'notes', 
                    value: world.notes,
                    collectionId: world.id,
                    entryId: world.id,
                    entryType: 'collection'
                }) %>
        </div>
    </div>

    <div class="WorldPage-Sidebar">
        <div class="WorldPage-Associations">
            <%- include('partials/associations', {
                id: 'charAssocs', 
                assocTitle: 'Characters',
                collectionId: world.id,
                entryId: world.id,
                entryType: 'collection',
                assocType: 'character',
                areaList: relationships.characters
            }) %>
            <%- include('partials/associations', {
                id: 'locAssocs',
                assocTitle: 'Locations',
                collectionId: world.id,
                entryId: world.id,
                entryType: 'collection',
                assocType: 'location',
                areaList: relationships.locations
            }) %>
            <%- include('partials/associations', {
                id: 'orgAssocs',
                assocTitle: 'Organizations',
                collectionId: world.id,
                entryId: world.id,
                entryType: 'collection',
                assocType: 'organization',
                areaList: relationships.Organizations
            }) %>
            <%- include('partials/associations', {
                id: 'loreAssocs',
                assocTitle: 'Lore',
                collectionId: world.id,
                entryId: world.id,
                entryType: 'collection',
                assocType: 'lore',
                areaList: relationships.lores
            }) %>
        </div>
        <div class="WorldPage-Manage">
            <button class="ControlButton" type="button" onclick="deleteWorld('<%= world.id %>', '<%= world.name %>')">Delete</button>
            <button class="ControlButton disabled" disabled title="Not Implemented">Export</button>
        </div>
    </div>
</div>