<!-- Define the standard association display section -->
<div class="AssocArea"
    id="<% id %>"
    data-cid="<%= collectionId %>"
    data-eid="<%= entryId %>"
    data-etype="<%= entryType %>"
    data-atype="<%= assocType %>"
>
    <div class="AssocArea-Head">
        <span class="AssocArea-Title"><%= assocTitle %></span>
        <% if (entryType !== 'collection') { %>
            <form action="/createAssociation" method="POST" style="display: inline;">
                <input type="hidden" name="collectionId" value="<%= collectionId %>">
                <input type="hidden" name="entryId" value="<%= entryId %>">
                <input type="hidden" name="entryType" value="<%= entryType %>">
                <input type="hidden" name="assocType" value="<%= assocType %>">
                <button class="EditToggle" type="submit">Connect</button>
            </form>
        <% } %>
        <form action="/createEntry" method="POST" style="display: inline;">
            <input type="hidden" name="collectionId" value="<%= collectionId %>">
            <input type="hidden" name="entryId" value="<%= entryId %>">
            <input type="hidden" name="entryType" value="<%= entryType %>">
            <input type="hidden" name="assocType" value="<%= assocType %>">
            <button class="EditToggle" type="submit">New</button>
        </form>
    </div>
    <ul class="AssocArea-List">
        <% if (areaList && areaList.length > 0) { %>
            <% areaList.sort((a, b) => a.name.toLowerCase().localeCompare(b.name.toLowerCase())); %>
            <% areaList.forEach(rel => { %>
                <li class="AssocArea-Entry">
                    <div>
                        <a href="/<%= assocType %>/<%= collectionId %>/<%= rel.id %>">
                            <%= rel.name %>
                        </a>
                        <% if (rel.relationship) { %>
                            <%= rel.relationship %>
                        <% } %>
                    </div>
                    <% if (entryType !== 'collection') { %>
                        <button class="AssocArea-DeleteButton" type="button" onclick="removeAssociation(this, '<%= rel.id %>', '<%= rel.relationship %>')" aria-label="Delete association">X</button>
                    <% } %>
                </li>
            <% }); %>
        <% } else { %>
            No entries found.
        <% } %>
    </ul>
</div>